<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content = "width=device-width, initial-scale=1.0">
        <title>Document</title>
        </head>
        <body>
            <div>
                <p> about data class</p>
                <ul>
                    <li>class time: flask class</li>
                    <li>client : HTML, CSS, JAVA Script, etc</li>
                    <li>Server : Flask</li>
                </ul>
                <p> <img src = 'static\flower1.jpg' alt="flower1"></p>  
            </div>
        </body>
</html>