<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>let me know</title>
</head>
<body>
    <h1>hello world!</h1>
    <h2>hello world!</h2>
    <h3>hello world!</h3>
    <h4>hello world!</h4>
    <h5>hello world!</h5>
    <h6>hello world!</h6>
<hr>
    <p>hello how are you?</p>
    <p>I am fine, how about you?</p>
    <p>me too, let's go to have lunch!</p>
    
    hello how are you?
    I am fine, how about you?
    me too, let's go to have lunch!

    <hr>

    hello how are you?<br>
    I am fine, how about you?<br>
    me too, let's go to have lunch!<br>

    <pre>
    hello how are you?
        I am fine, how about you?
            me too, let's go to have lunch!
    </pre>
    <b>볼드체</b>
    <div>hello</div>
    <div>world</div>

    <div style="background-color: yellow;">hello</div>
    <div style="background-color: violet;">world</div>


</body>
</html>